@{
    ViewData["Title"] = "Float | IR Sauna | mHBOT| Biomat – Strathpine, Brisbane, QLD";
    ViewData["MetaDescription"] = "A flotation and wellness centre providing the best float, IR Sauna, mHBOT and Biomat services to our clients in Strathpine, Brisbane, QLD. We are a purpose-built space to rest, heal and rejuvenate.";
    ViewData["MetaKeywords"] = "float, flotation, flotation therapy, hyperbaric oxygen, oxgyen therapy, hyperbaric oxygen therapy, infrared sauna, ir sauna, biomat, ahha wellness, ahha wellness spa , wellness, strathpine";
    ViewData["MetaCanonical"] = "https://www.ahhawellnessspa.com.au";
}

<div class="row text-center">
    <div class="col">
        <h1>Ahha Wellness Spa</h1>
    </div>
</div>
<br />


<div class="row">
    <div class="col-12 text-center">
        <br />
        <a href="~/Calendar/Day?centerId=strathpine&selectedCategory=FLOAT&date=12/18/2019%2000:00:00%20+10:00&sessionLength=60"><img src="~/images/services/bookButton.png" /></a>
        <br />
        <br />
            Click on the booking above if you know exactly what you want, otherwise feel free to browse below for more info.
        <br />
    </div>
</div>
<br />


<div class="row" style="margin-top: 10px; margin-bottom: 10px;">
    <div class="col text-center">
        <img src="~/images/shared/sectionDivider.png" />
    </div>
</div>

<div class="row spacerows no-gutters text-center" style="padding-top: 20px">
    <div class="col-lg-3">
        <div class="box-service-modern">
            <div class="box-icon-classic box-icon-classic-vertical">
                <div class="icon-classic-aside">
                    <div class="icon-classic">
                        <a href="~/services/float"><img src="~/images/home/floaticongradient.png" class="img-fluid" alt="Responsive image" /></a>
                    </div>
                    <h4 class="icon-classic-title"><a href="~/services/float">Float</a></h4>
                </div>
                <div class="icon-classic-body">
                    <p>Relax, recharge and replenish. Simple.</p>
                </div>
            </div>
            <div class="box-service-modern-img">
                <a href="~/services/float"><img src="~/images/home/floatimage.jpg" alt="" class="img-fluid" alt="Responsive image" /></a>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="box-service-modern box-service-modern-reverse">
            <div class="box-icon-classic box-icon-classic-vertical">
                <div class="icon-classic-aside">
                    <div class="icon-classic">
                        <a href="~/services/sauna"><img src="~/images/home/saunaicongradient.png" /></a>
                    </div>
                    <h4 class="icon-classic-title"><a href="~/services/sauna">IR Sauna</a></h4>
                </div>
                <div class="icon-classic-body">
                    <p>Turbocharge your detox with our Infrared Sauna.</p>
                </div>
            </div>
            <div class="box-service-modern-img">
                <a href="~/services/sauna"><img src="~/images/home/saunaimage.jpg" class="img-fluid" alt="Responsive image" /></a>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="box-service-modern">
            <div class="box-icon-classic box-icon-classic-vertical">
                <div class="icon-classic-aside">
                    <div class="icon-classic">
                        <a href="~/services/mhbot"><img src="~/images/home/mhboticongradient.png" /></a>
                    </div>
                    <h4 class="icon-classic-title"><a href="~/services/mhbot">mHBOT</a></h4>
                </div>
                <div class="icon-classic-body">
                    <p>Mild Hyperbaric Oxygen Therapy, oxygen powered healing.</p>
                </div>
            </div>
            <div class="box-service-modern-img">
                <a href="~/services/mhbot"><img src="~/images/home/mhbotimage.png" class="img-fluid" alt="Responsive image" /></a>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="box-service-modern box-service-modern-reverse">
            <div class="box-icon-classic box-icon-classic-vertical">
                <div class="icon-classic-aside">
                    <div class="icon-classic">
                        <a href="~/services/biomat"><img src="~/images/home/Biomaticongradient.png" /></a>
                    </div>
                    <h4 class="icon-classic-title"><a href="~/services/biomat">Biomat</a></h4>
                </div>
                <div class="icon-classic-body">
                    <p>Far Infrared Rays, Negative Ions and Amethyst Crystals all at the same time.</p>
                </div>
            </div>
            <div class="box-service-modern-img">
                <a href="~/services/biomat"><img src="~/images/home/biomatimage.jpg" width="390" height="312" class="img-fluid" alt="Responsive image" /></a>
            </div>
        </div>
    </div>
</div>


<div class="row spacerows sectiondivider">
    <div class="col text-center">
        <img src="~/images/shared/sectionDivider.png" />
    </div>
</div>


<div class="row spacerows no-gutters pricing-box-modern justify-content-lg-end">
    <div class="col-sm-6 col-lg-4">
        <div class="pricing-box-inner box-left">
            <h2>Hours</h2>
            <ul class="list-md pricing-box-inner-list">
                <li>
                    <h4>Early Sessions</h4>
                    <p>6am – 9am</p>
                </li>
                <li>
                    <h4>Normal Sessions</h4>
                    <p>9am – 5pm</p>
                </li>
                <li>
                    <h4>Late Sessions</h4>
                    <p>5pm-10pm</p>
                </li>
            </ul>
            <p>We open earlier and stay open longer, just for you.</p>
        </div>
    </div>
    <div class="d-none d-lg-block col-lg-4 img-wrap">
        <img src="~/images/home/Logo.png" class="rounded" />
    </div>
    <div class="col-sm-6 col-lg-4">
        <div class="pricing-box-inner box-right gradient-box">
            <h2>Pricing</h2>
            <ul class="list-md pricing-box-inner-list">
                <li>
                    <h4>60 min Float Tank</h4>
                    <p>$65.00</p>
                </li>
                <li>
                    <h4>30 min IR Sauna</h4>
                    <p>$40.00</p>
                </li>
                <li>
                    <h4>45 min BioMat</h4>
                    <p>$45.00</p>
                </li>
                <li>
                    <h4>60 min mHBOT</h4>
                    <p>$70.00</p>
                </li>
                <li>
                    <h4>Membership*</h4>
                    <p>$25.00 per month</p>
                    <p>$20 off every booking!</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row spacerows sectiondivider">
    <div class="col text-center">
        <img src="~/images/shared/sectionDivider.png" />
    </div>
</div>

<div class="row " style="min-height: 300px;">
    <div class="col 12 text-center">
        <h3>Location</h3>

        <p>Unit 2, 429 Gympie Road, Strathpine, QLD, 4500 | admin@ahhawellnessspa.com.au | 1800 002 442 </p>
        <br />

        <form action="http://maps.google.com/maps" method="get" target="_blank">
            <input type="hidden" name="daddr" value="-27.302813, 152.989426 (Ahha Wellness Spa)" />
            <input class ="btn btn-primary" type="submit" value="Get directions" />
        </form>

        <br />
        <div id="map" style="width: 100%; min-height: 300px;"></div>

        <br />
    </div>
</div>


@section Scripts
{
    <script src="~/source/googleMapsScripts.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8bKyQovgRaYsft4t7Pmz2LqcqQ0K0JU8&callback=initMap" async defer></script>
}


