
@{
    ViewData["Title"] = "Flotation Therapy : Sensory deprivation in our float tank - Strathpine";
    ViewData["MetaDescription"] = "Our float tanks are the perfect solution to reduce stress, improve health, healing and rejuvenation. Our purpose built wellness centre is an oasis in Strathpine, Brisbane, QLD";
    ViewData["MetaKeywords"] = "float, flotation, flotation therapy, ahha wellness, sensory deprivation, ahha wellness spa, wellness, strathpine";
    ViewData["MetaCanonical"] = "https://www.ahhawellnessspa.com.au/services/float";
}


<div class="row spacerows" style="padding-top: 20px; margin-bottom: 0px; ">

    <div class="col-lg-6">
        <div class="text-center">
            <h1>Float</h1>
            <p>A clean + serene space to breathe while you reconnect to </p>
            <p>Body | Mind | Soul</p>
            <br />
        </div>
        <div class="row">
            <div class="col-12 text-center bookbutton">
                <a href="~/calendar/month?location=strathpine&category=FLOAT"><img src="~/images/services/bookButton.png" /></a>
                <br />
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <img class="img-responsive rounded" src="~/images/services/floatmain2.jpeg" />
    </div>
</div>

<br>
<div class="row">
    <div class="col">
        A floatation tank (float tank) is a purpose built, soundproof tank which is partially filled with water and epsom salts. The water is heated to outer skin temperature (approximately 35°C). People use floatation tanks for relaxation a practice called flotation therapy. Flotation tanks are often called isolation tanks, sensory deprivation tanks or Restricted Environmental Stimulation Therapy (REST) tank.
    </div>
</div>

<br>

<div class="row">
    <div class="col">
        Our state-of-the art float tanks are exactly what you need to get your flotation therapy fix. Conveniently located in Strathpine, with great opening hours, we are the perfect spot to float in north Brisbane.
    </div>
</div>

<div class="row spacerows sectiondivider">
    <div class="col text-center">
        <img src="~/images/shared/sectionDivider.png" />
    </div>
</div>

<div class="row spacerows servicesSectionHeading">
    <div class="col text-center">
        <h2>Benefits</h2>
    </div>
</div>

<div class="row spacerows ">
    <div class="col-md-4 ">
        <h4 class="text-center">MENTAL</h4>
        <div class="text-center">
            <img src="~/images/services/benfitsbadgeMental.png" />
        </div>

        <p>
            Floating is an energizing, rejuvenating practice that improves health and well-being, alleviates stress, and facilitates meditation and self-improvement.
        </p>

        <ul class="benifitslist">
            <li>Reducing activity in the cortex allows for a decrease in production of “stress hormones.”</li>
            <li>Deep relaxation leads to a reduction of stress and the release of “feel-good” chemicals that stimulate the pleasure/reward centers in our brain.</li>
            <li>Elimination of external stimulation facilitates deeper meditation.</li>
        </ul>

    </div>
    <div class="col-md-4 ">
        <h4 class="text-center">PHYSICAL</h4>
        <div class="text-center">
            <img src="~/images/services/benfitsbadgePhysical.png" />
        </div>
        <p>
            Floating helps eliminate fatigue and enter the flow state, improves sleep, speeds the body's healing process, improves athletic performance and increases motivation.
        </p>
        <ul class="benifitslist">
            <li>Floating reduces blood pressure while improving circulation, allowing for increased recovery from injury or athletic training.</li>
            <li>Decreasing the build up of lactic acid helps to eliminate muscle fatigue.</li>
            <li>The near zero gravity environment relieves pressure from the back, feet, and joints.</li>
        </ul>
    </div>
    <div class="col-md-4 ">
        <h4 class="text-center">CREATIVE</h4>
        <div class="text-center">
            <img src="~/images/services/benfitsbadgeCreative.png" />
        </div>
        <p>
            Floating facilitates creative insights, enhances problem-solving abilities, increases focus, expands awareness and accelerates learning.
        </p>
        <ul class="benifitslist">
            <li>Achieving and maintaining a Theta brain-wave state allows for an increase in creativity.</li>
            <li>Allowing the brain to operate free from external distraction enhances problem-solving.</li>
            <li>Heightened visualization helps to achieve the "flow state."</li>
        </ul>
    </div>
</div>

<div class="row spacerows sectiondivider">
    <div class="col text-center">
        <img src="~/images/shared/sectionDivider.png" />
    </div>
</div>

<div class="row spacerows servicesSectionHeading">
    <div class="col text-center">
        <h2>Prices</h2>
    </div>
</div>

<div class="row spacerows ">
    <div class="col-md-6 text-center pricebox">
        <img src="~/images/services/60minSessionBanner.png" />
        <h3 class="text-center">$ 65</h3>
    </div>
    <div class="col-md-6 text-center pricebox">
        <img src="~/images/services/90minSessionBanner.png" />
        <h3 class="text-center">$ 95</h3>
        <p style="padding-top: 0; margin-top: 0">Most popular</p>
    </div>
    <div class="col-md-6 text-center pricebox">
        <img src="~/images/services/MembershipBanner.png" />
        <h3 class="text-center">$ 25 Per Month</h3>
        <p style="padding-top: 0; margin-top: 0">Gets you $20 off every booking!</p>
    </div>
    <div class="col-md-6 text-center pricebox">
        <a href="~/giftcard/stepone?location=strathpine&category=FLOAT">
            <img src="~/images/services/giftcardBanner.png" />
            <h3 class="text-center">Build Gift Card</h3>
        </a>

    </div>
</div>

<div class="row spacerows sectiondivider">
    <div class="col text-center">
        <img src="~/images/shared/sectionDivider.png" />
    </div>
</div>

<div class="row spacerows servicesSectionHeading">
    <div class="col text-center">
        <h2>Before your float</h2>
    </div>
</div>

<div class="row spacerows ">
    <div class="col-md-6 text-center">
        <h4>WHAT’S PROVIDED?</h4>
        <div class="text-center">

            <img src="~/images/services/providedbadge.png" />
        </div>
        <ul class="benifitslist">
            <li>Private float spa room with shower</li>
            <li>Organic Skin products</li>
            <li>One bath and face towel</li>
            <li>Ear Plugs</li>
            <li>Vaseline (to protect cuts)</li>
            <li>The only thing needed to bring is your own hair brush as we are unable to provide one due to health and safety regulations.</li>
        </ul>
    </div>
    <div class="col-md-6 text-center">
        <h4>Do's and Don'ts</h4>
        <div class="text-center">
            <img src="~/images/services/doanddontbadge.png" />
        </div>
        <ul class="benifitslist">
            <li>Hair Colouring: Please wait 2 weeks before float (excludes hair treated with peroxide)</li>
            <li>Spray Tanning: Please wait 5 days before float</li>
            <li>Avoid drinking coffee on the day</li>
            <li>Avoid shaving/waxing that day as it may sting</li>
            <li>Eat a light meal 2 hours prior & stay hydrated</li>
            <li>Bring a contact lense case (to remove them)</li>
            <li>No swimmers are required, for your float experiences it’s best to float nude</li>
            <li>Don’t worry, your privacy will always be assured</li>
        </ul>
    </div>
</div>

<div class="row spacerows sectiondivider">
    <div class="col text-center">
        <img src="~/images/shared/sectionDivider.png" />
    </div>
</div>

<div class="row servicesSectionHeading">
    <div class="col text-center">
        <h2>FAQ</h2>
        <img src="~/images/services/FAQbadge.png" />
    </div>
</div>

<div class="row spacerows faqsection">
    <h4 style="width: 100%">How should I prepare?</h4>
    <p>Go easy on the caffeine or any other stimulants on the day of your float. We’d also recommend you don’t shave. Oh, and don’t dye your hair or get a fresh tattoo. If you just did either, we’d recommend you wait a few weeks before paying us a visit.</p>

    <h4 style="width: 100%">Do I need to bring anything?</h4>
    <p>Just bring a towel and an open mind. We provide all the particulars like body wash, shampoo, and ear plugs. When you book, we’ll ping you an email with some tips and advice on prepping for your first session.</p>


    <h4 style="width: 100%">What do I do after my session?</h4>
    <p>Try to take some time (even a few minutes) for yourself after your float. It’ll help you soak up the experience even further and give you a moment to ponder any thoughts or personal stuff that came up during your float. We have a calm, cozy little lounge with free tea and we’d love for you to use it.</p>

    <h4 style="width: 100%">How long is a float session?</h4>
    <p>60 minutes or 90 minutes. The Laureate Institute for Brain Research (L.I.B.R.) is advancing the world of floating with cutting edge research. They found (wait for it…) 90 minutes was the optimal time for their studies, and, let’s face it, if it’s good enough for the experts, it’s good enough for us!</p>

    <h4 style="width: 100%">Can I float for longer?</h4>
    <p>Sure, though we recommend you start with 90 minutes—that seems to be the sweet spot for beginners. That said, we’re happy to accommodate longer float sessions. Get in touch.</p>

    <h4 style="width: 100%">How often should I float?</h4>
    <p>Think about floating as a practice. It has a learning curve, and the effects certainly accumulate over time and with frequency. The more you float, the easier you can tap into your meditation state, in the tank and out of it. In fact, we offer a Float Club for frequent flyers, and membership certainly has its benefits.</p>

    <h4 style="width: 100%">Do I need to book online?</h4>
    <p>Yes. We require all sessions are made in advance by appointment, please and thank you.</p>

    <h4 style="width: 100%">Can I move my appointment after I have booked</h4>
    <p>Sure. Life happens, just let us know 24 hours ahead of time.</p>

    <h4 style="width: 100%">I have more questions, how do I get more answers?</h4>
    <p>Call us or email us on the contact number below.</p>

</div>